.row
  .column.small-12.large-8.large-push-4
    .imac
      img(src="/images/screens/imacHD.png")
      .screen
        img(src="/images/posters/#{section.slug}/#{page.desktop.poster}")
          //- video(data-setup='{ "controls": false, "loop": true, "autoplay": false, "preload": "auto" }', poster="/images/posters/#{section.slug}/#{page.desktop.poster}", width="100%", height="100%")
          //-   source(src="/videos/#{section.slug}/#{page.desktop.video}.mp4", type='video/mp4')
          //-   source(src="/videos/#{section.slug}/#{page.desktop.video}.webm", type='video/webm')
          //-   source(src="/videos/#{section.slug}/#{page.desktop.video}.ogv", type='video/ogg')
  .column.small-12.large-4.large-pull-8
    .cards
      .infoBox
        if page.icon
          .icon
            i(class=page.icon)
        if page.cards
          each card in page.cards
            p #{card}
