.front
  .iso.film-header-iso.header-iso.film-header-scroll.header-scroll
    .iContent.scrollContent
      each section, x in sections.film
        a.frame.clickable(href="#!film/#{section.slug}")
          img(src="/images/stills/#{section.slug}/#{section.thumb}")
          .caption
            span.label #{section.title}
  .iso.web-header-iso.header-iso.web-header-scroll.header-scroll
    .iContent.scrollContent
      each section, x in sections.web
        a.frame.clickable(href="#!web/#{section.slug}") 
          img(src="/images/posters/#{section.slug}/#{section.thumb}")
          .caption
            span.label #{section.title}
