.front
  .doorH.topDoor.door
    .scroll.film-header-scroll.header-scroll
      .scrollContent
        each section, x in sections.film
          a.frame.clickable(href="#!film/#{section.slug}", style="background-image:url(/images/posters/#{section.slug}/#{section.thumb})")
            //- span.label #{section.title}
  .doorH.bottomDoor.door
    .scroll.web-header-scroll.header-scroll
      .scrollContent
        each section, x in sections.web
          a.frame.clickable(href="#!web/#{section.slug}", style="background-image:url(/images/posters/#{section.slug}/#{section.thumb})") 
            //- span.label #{section.title}
.header
  .full-name
    span.nameL.name Lawrence&nbsp;
    span.nameW.name Whiteside
  .web-label Web Artitect
  .film-label Filmmaker
  .contact
    span.reachOut
      span Contact
      span.show-for-small-only.
        S
      span.show-for-medium-only.
        M
      span.show-for-large-only.
        L
      span.show-for-xlarge-only.
        X
    i.ion-paper-airplane
