.front
  .doorH.topDoor.door
    .scroll.film-header-scroll.header-scroll
      .scrollContent
        each section, x in sections.film
          a.frame.clickable(href="#!film/#{section.slug}")
            img(src="/images/stills/#{section.slug}/#{section.thumb}")
            .hexagon
              svg.hexagon-svg(width="200px", height="200px", viewBox="0 0 200 200", xmlns="http://www.w3.org/2000/svg", version="1.1")
                polygon(points="148,183.138438763306 52,183.138438763306 4,100 52,16.8615612366939 148,16.8615612366939 196,99.9999999999999 148,183.138438763306")
              .caption
                span.label #{section.title}
  .doorH.bottomDoor.door
    .scroll.web-header-scroll.header-scroll
      .scrollContent
        each section, x in sections.web
          a.frame.clickable(href="#!web/#{section.slug}") 
            img(src="/images/posters/#{section.slug}/#{section.thumb}")
            .hexagon
              svg.hexagon-svg(width="200px", height="200px", viewBox="0 0 200 200", xmlns="http://www.w3.org/2000/svg", version="1.1")
                polygon(points="148,183.138438763306 52,183.138438763306 4,100 52,16.8615612366939 148,16.8615612366939 196,99.9999999999999 148,183.138438763306")
              .caption
                span.label #{section.title}
.header
  .mobile-menu.clickable
    i.ion-navicon
  .full-name
    span.nameL.name Lawrence&nbsp;
    span.nameW.name Whiteside
  .hexagon
    svg.hexagon-svg(width="200px", height="200px", viewBox="0 0 200 200", xmlns="http://www.w3.org/2000/svg", version="1.1")
      polygon(style="fill:#000", points="148,183.138438763306 52,183.138438763306 4,100 52,16.8615612366939 148,16.8615612366939 196,99.9999999999999 148,183.138438763306")
    .web-label Web
    .film-label Film
  .contact.contact-click
    span.reachOut
      span Contact
    i.ion-paper-airplane
