.main.scrollContainer
  .scrollContent
    .half.web
      each section, x in sections.web        
        section.section.clearfix(class=section.slug)
          each page, y in section.pages
            .page.clearfix.wow.bounceInUp
              .row
                .column.small-12.large-8.large-push-4
                  if page.desktops
                    .imac
                      img(src="/images/screens/imac.png")
                      .screen
                        each d in page.desktops
                          img(src="/images/posters/#{d}")
                  if page.mobiles
                    .iphone
                      img(src="/images/screens/iphone.png")                  
                      .screen
                        each m in page.mobiles
                          img(src="/images/posters/#{m}")
                  if page.posters
                    .poster
                      .screen
                        each p in page.posters
                          img(src="/images/posters/#{p}")
                .column.small-12.large-4.large-pull-8
                  .cards
                    .infoBox
                      if page.icon
                        .icon
                          i(class=page.icon)
                      each card in page.cards
                        p #{card}
    .half.film
